DATABASE_URL=postgresql://postgres.lyfitmgkzplvtwzqpmbc:DuaConecta3036@aws-0-us-west-2.pooler.supabase.com:6543/postgres

JWT_SECRET=una_clave_muy_larga_y_secreta

PIXABAY_API_KEY=27474534-9c636d36899c8a8ce321eea49

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=luispenaponce@gmail.com
SMTP_PASS=zzwalrufzmmulvqd

PEXELS_API_KEY=FkomuRcVuCwLLqNyPJb66W4ed38f0PsWvr3DXIdwB5qOC6qa4ai

FRONTEND_URL=https://tu-frontend.vercel.app